<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]>
  <!-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>魅可MAC经典子弹头口红唇膏3g 经典热卖 多色可选 - 海外直采,国内物流,海外价格,飞一般的免税店体验</title>
    <meta name="description" content="聚美极速免税店，跨境美妆电商，致力为您提供正品、极速、便宜的海外美妆。我们严控货品来源，海外直采并放置于政府海关监管的保税区，国内物流送货，提供7天包退、国内售后等多项领先服务。" />
    <meta name="keywords" content="聚美极速免税店,极速免税店,聚美优品极速免税店,聚美优品,聚美,化妆品,特卖,团购,海淘,全球购,海外购,免税店,马油,九朵云,可莱丝,IT'S SKIN" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="qc:admins" content="56207406376255516375" />
    <!--<link rel="stylesheet" type="text/css" href="//a1.global.jmstatic.com/b7e3d92f24cf2afe/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="//a3.global.jmstatic.com/a8c98f9df9004d8c/app.css" />-->
    <link rel="stylesheet" type="text/css" href="./goods/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./goods/css/app.css" />
    <script type="text/javascript">document.domain = 'jumeiglobal.com';
    var JM = JM || {};
    JM.SITE_MAIN_WEBBASEURL = 'http://www.jumeiglobal.com/';
    JM.SITE_MAIN_TOPLEVELDOMAINNAME = 'jumei.com';
    JM.CURRENT_SITE_MAIN_WEBBASEURL = 'jumeiglobal.com';
    JM.SITE_ITEM_WEBBASEURL = 'http://item.jumeiglobal.com/';
    JM.CONTROL = 'NewDeal';
    JM.ACTION = 'Detail';
    JM.SERVER_TIME = 1587724764;
    JM.SITE = 'www';
    JM.DEBUG = false;
    JM.DEGRADATION = false;
    JM.CRITEO_ID = 'ht20191127154627p4967028';
    JM.DEAL_PRAISE = 1;
    JM.GLOBAL_HEAD = 1;
    JM.HIDE_GWC_HTML = 0;
    JM.DEAL_DISCOUNT = 1;
    JM.actGlobalHideKey = 'jml14';
    JM.actGlobalDMHideKey = 'jmdl14';
    JM.DEAL_PRICE = 0;
    JM.REFUND_WINDOW = 1;
    JM.IM_ISSWITCH = 1;
    JM.IM_USERRATE = 100;

    ///JM.RM_SITE_MAIN_CART='jumei.com/';
    JM.CLIENT_TIME = parseInt((new Date()).getTime() / 1000);
    JM.DEAL_RECOM = 1;

    GA_ACCOUNT = "UA-51447284-1";
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', GA_ACCOUNT]);
    _gaq.push(['_setDomainName', '.jumeiglobal.com']);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_trackPageview']);

    var _adwq = _adwq || [];
    _adwq.push(['_setAccount', '1ng4e']);
    _adwq.push(['_setDomainName', '.jumeiglobal.com']);
    _adwq.push(['_trackPageview']);</script>
    <!--<link rel="stylesheet" type="text/css" href="http://a1.global.jmstatic.com/aef54daf5cb94ea4/detail_other.css" />-->
    <link rel="stylesheet" type="text/css" href="./goods/css/detail_other.css" />
</head>
<style>
    .deal_con_content td{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .content_text, .content_text img {
        width: 500px;
    }
</style>
<body>
<script type="text/javascript">(function() {
    var cssData = {
            '960': 'global_960',
            '1090': 'global_1090'
        },
        page = {
            'Deal': '960',
            'Home': '1090',
            'Special': '1090',
            'Page': '1090'
        },
        padCss = '.header_container,.footer_container, .wrapper_top_link{display:none} .product_introduce:hover,.product_column:hover{box-shadow: 1px 1px 4px #e3e3e3;}',
        ua = navigator.userAgent.toLowerCase(),
        isPad = ua.match(/\b(ipad)\b/) || false,
        isJumei = ua.match(/\b(jumei)\b/) || false,
        dom = document.getElementsByTagName('body'),
        wcss = page[JM.CONTROL] || 1090;
    if (isPad) {
        var vp = document.createElement('meta');
        vp.setAttribute('name', 'viewport');
        vp.setAttribute('content', 'initial-scale=1.0');
        document.head.appendChild(vp);

        if (isJumei) {
            var style = document.createElement("style");
            wcss = JM.RM_ACTION == 'Ipad' ? 960 : 1090; (document.getElementsByTagName("head")[0] || document.body).appendChild(style);
            if (style.styleSheet) {
                style.styleSheet.cssText = padCss;
            } else {
                style.appendChild(document.createTextNode(padCss));
            }
        }
    }
    if (dom.length > 0 && !isPad) {
        dom[0].className = cssData[wcss];
    }
})();</script>
<!-- 头部广告位 -->
<!-- 头部 -->
<div class="header_container">
    <div class="new_user_box">
        <div class="head_wrapper clearfix">
            <ul class="head_list fl clearfix">
                <li>
                    <a href="http://www.jumei.com/?from=Global_top_nav_fresh_deal_tab" target="_blank">
                        <img src="http://p1.global.jmstatic.com/assets/global/smalllogo.png" /></a>
                </li>
                <li>
                    <a href="http://www.jumei.com/?from=Global_top_nav_fresh_deal_tab">限时特卖</a></li>
                <li>
                    <a href="http://mall.jumei.com/?from=Global_top_nav_fresh_mall_tab">美妆商城</a></li>
                <li>
                    <a href="http://www.jumeiglobal.com/?from=global">极速免税店</a></li>
                <!-- <li class="h_more_width">-->
                <!-- <a class="j_back" href="http://koubei.jumei.com?from=Global_top_nav_fresh_koubei_tab">美妆口碑<i class="h_arrow"></i></a>-->
                <!-- <div class="menu_list">-->
                <!-- <a href="http://koubei.jumei.com/brand_recommends.html?from=Global_top_nav_fresh_koubei_menu_null" target="_blank">美妆大全</a>-->
                <!-- <a href="http://koubei.jumei.com/reports.html?from=Global_top_nav_fresh_koubei_menu_null" target="_blank">口碑SHOW</a>-->
                <!-- <a href="http://koubei.jumei.com/free?from=Global_top_nav_fresh_koubei_menu_null" target="_blank">Free派</a>-->
                <!-- <a href="http://koubei.jumei.com/luckybox.html?from=Global_top_nav_fresh_koubei_menu_null" target="_blank">喜从盒来</a>-->
                <!-- <a href="http://koubei.jumei.com/i/productreport/myhome?from=Global_top_nav_fresh_koubei_menu_null" target="_blank">我的闺房</a>-->
                <!-- </div>-->
                <!-- </li>-->
                <li>
                    <a href="http://hd.jumei.com/act/9-478-1477-download_app.html?from=Global_top_nav_fresh_mobile_tab">手机聚美</a></li>
                <li class="h_more_width" style="background: none;">
                    <a class="j_back" href="http://www.jumei.com/activity_guarantee.html?from=Global_top_nav_fresh_guarantee_tab">正品保证
                        <i class="h_arrow"></i></a>
                    <div class="menu_list">
                        <a href="http://www.jumei.com/activity_aca.html?from=Global_top_nav_fresh_guarantee_menu_null" target="_blank">真品联盟</a>
                        <a href="http://jianding.jumei.com/?from=Global_top_nav_fresh_guarantee_menu_null" target="_blank">正品鉴定</a>
                        <a href="http://www.jumei.com/help/faq?from=Global_top_nav_fresh_guarantee_menu_null" target="_blank">常见问题</a>
                        <a href="http://www.jumei.com/help/refund_policies?from=Global_top_nav_fresh_guarantee_menu_null" target="_blank">退货政策</a>
                        <a href="http://www.jumei.com/help/main?from=Global_top_nav_fresh_guarantee_menu_null" target="_blank">帮助中心</a></div>
                </li>
            </ul>
            <ul class="head_user fr clearfix" id="head_login">
                <li class="new_login">
                    <a href="http://passport.jumei.com/i/account/passport?redirect=http://www.jumeiglobal.com//ht20191127154627p4967028.html?from=sr_%E5%8F%A3%E7%BA%A2_1_1&site=gz">登录</a></li>
                <li class="new_login">
                    <a href="http://passport.jumei.com/i/account/signup/?redirect=http://www.jumeiglobal.com//ht20191127154627p4967028.html?from=sr_%E5%8F%A3%E7%BA%A2_1_1&site=gz">注册</a></li>
                <li>
                    <a href="http://www.jumei.com/i/order/list">订单查询</a></li>
                <li class="pr10 j_menu_arrow">
                    <a href="http://www.jumei.com/i/order/list">我的聚美
                        <i class="h_arrow"></i></a>
                    <div class="h_arrow_menu h_arrow_loc">
                        <span class="arrow_a">
                          <span class="arrow_b"></span>
                        </span>
                        <div class="a_menu_list">
                            <a href="http://www.jumei.com/i/order/list" target="_blank">我的订单</a>
                            <a href="http://www.jumei.com/i/membership/show_promocards" target="_blank">我的现金券</a>
                            <a href="http://www.jumei.com/i/membership/show_red_envelope" target="_blank">我的红包</a>
                            <a href="http://www.jumei.com/i/account/balance" target="_blank">我的余额</a>
                            <a href="http://www.jumei.com/i/account/balance_record" target="_blank">我的提现退款</a>
                            <a href="http://www.jumei.com/i/product/fav_products" target="_blank">我的收藏</a>
                            <a href="http://www.jumei.com/i/wishdeal/onsale" target="_blank">我的心愿单</a>
                            <a href="http://www.jumei.com/i/membership" target="_blank">会员中心</a>
                            <a href="http://www.jumei.com/i/membership/gift_card" target="_blank">礼品卡兑换</a></div>
                    </div>
                </li>
                <li class="j_menu_arrow h_menu_loc" style="background: none;">
                    <a href="javascript:void(0)">更多
                        <i class="h_arrow"></i></a>
                    <div class="h_arrow_menu ">
                        <span class="arrow_a">
                          <span class="arrow_b"></span>
                        </span>
                        <div class="a_menu_list">
                            <a href="http://www.jumei.com/i/account/referrals/" target="_blank" rel="nofollow">邀请好友</a>
                            <a href="javascript:void(0)" rel="nofollow" id="bookmark_us" class="bom-line">
                                <span class="bottomline">加入收藏</span></a>
                            <a href="http://weibo.com/tuanmei" target="_blank" class="a_menu_span">新浪微博
                                <span>
                              <img src="http://p1.global.jmstatic.com/templates/jumei/images/sina_er.png"></span></a>
                            <a href="javascript:void(0)" class="a_menu_span">聚美微信
                                <span>
                              <img src="http://p1.global.jmstatic.com/templates/jumei/images/sina_er.png"></span></a>
                            <a href="http://t.qq.com/jumei_tuangou" target="_blank" class="a_menu_span">腾讯微博
                                <span>
                              <img src="http://p1.global.jmstatic.com/templates/jumei/images/qq_er.png"></span></a>
                            <a href="http://page.renren.com/601021070" target="_blank" class="a_menu_span">人人公众主页
                                <span>
                              <img src="http://p1.global.jmstatic.com/templates/jumei/images/renren_er.png"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="head_wrapper clearfix">
        <div class="head_certif">
            <div class="cart_flag_all" id='cart_box'>
                <a href="http://cart.jumei.com/i/cart/show" rel="nofollow" class="cart_box">
                    <span class="cart_logtext">去购物车结算</span>
                    <span class="nav_cart_num"></span>
                </a>
            </div>
        </div>
        <a href="http://www.jumeiglobal.com/?from=global" class="global_logo" title="飞一般的免税店体验"></a>
    </div>
</div>
<script type="text/javascript">// 兼容在jquery加载之前就开始使用$的代码
window.__domReadyCallbacks__ = [];
window.jQuery = window.$ = function(callback) {
    if (typeof callback === 'function') {
        window.__domReadyCallbacks__.push(callback);
    }
};</script>
<!-- 头部 end -->

<input type="hidden" id="ab_dealcart" value="0">
<input type="hidden" id="local" value="0" />
<input type="hidden" id="speciallocal" value="main-web.GlobalHideKey" />
<input type="hidden" id="directwarehouse" value="1" />
<input type="hidden" id="platform" value="0" />
<input type="hidden" id="is_direct_pay" value="0">
<input type="hidden" id="refund_window" value="1" />
<input type="hidden" id="is_show_custserv" value="0" />
<input type="hidden" id="img_url" value="http://p1.global.jmstatic.com/product/004/967/4967028_std/4967028_dx_1000_400.jpg" />
<div id="body" class="global_body">
    <div class="detail_wrap">
        <div class="deal_main clearfix">
            <div class="deal_left">
                <div class="deal_titles">
                    <p class="long_title">
                        <strong></strong>
                        <span class="single_price" th:text="${good.goodsDesc}"></span></p>
                </div>
                <!--倒计时start-->
                <div class="preview_product btn_time">
                    <div class="numtimer_box time">
                        <span class="tips" th:text="${good.title}"></span>
                        <!--<span class="recom_time_box time_box" diff="0" data-type=""></span>-->
                    </div>
                    <!--倒计时end-->
                    <div class="preview_product_id">
                        <div class="detail_sold_out"></div>
                        <img src="http://p1.global.jmstatic.com/product/004/967/4967028_std/4967028_dx_1000_400.jpg" class="ImageStd_1000" id="deal_img" /></div>
                        <!--<img th:src="${cover.gcPicUrl}" class="ImageStd_1000" id="deal_img" /></div>-->
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="product_info">
                    <div class="product_info_list fl">
                        <a target="_blank" href="http://search.jumei.com/?filter=0-11-1&search=持久&from=home_deal_detail_sidebar_functions">持久</a>
                        <a target="_blank" href="http://search.jumei.com/?filter=0-11-1&search=装扮&from=home_deal_detail_sidebar_functions">装扮</a></div>
                    <div class="jiathis_style fr">
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico_jiathis" target="_blank">分享到 ></a></div>
                </div>
                <!-- JiaThis Button END --></div>
            <div class="deal_right">
                <div class="r_first clearfix">
                    <a href="http://search.jumei.com/?filter=0-0-0-0-11-1&search=魅可（MAC）&from=home_deal_top_brandlogo_null_null" target="_blank" rel="nofollow">
                        <img src="http://p0.jmstatic.com/brand/logo_180/24254.jpg" class="logo_brand" alt="logo_brand" onerror="this.style.display='none'" /></a>
                    <div class="flag_box_main clearfix fr">
                        <img src="http://p1.global.jmstatic.com/banner/area/000/000/019_flag.jpg?v2" class="p_img_lg fl" alt="flag" onerror="this.parentNode.style.display='none'" />
                        <ul class="fl">
                            <li class="area_code_b">美国</li>
                            <li class="deal_en">United States</li></ul>
                    </div>
                </div>
                <div class="r_second">
                    <ul class="price_module clearfix">
                        <!--非组合start-->
                        <li class="jumei_price" th:text="'¥'+${good.currentPrice}"></li>
                        <li class="market_price" style="display: list-item;" th:text="'¥'+${good.originalPrice}">170</li>
                        <li class="sh_mark sh_mark_price" id="sh_mark_price">
                            <span class="rmb_tax"></span>
                            <div class="mark_layer" style="display:none;">
                                <b class="caret_out"></b>
                                <b class="caret_in"></b>
                                <div class="mark_hover"></div>
                            </div>
                        </li>
                       </ul>
                    </div>
                <div class="people clearfix">
                    <!--秒杀不显示心愿 购买人数-->
                    <div class="num fl">
                        <em>1515</em>人已购买</div>
                    <div class="comments fr"></div>
                </div>
                <div class="r_third">
                    <!--运费-->
                    <dl class="mail_policy clearfix" th:if="${good.isFreeDelivery == 0}">
                        <dt class="fl">运费：6元</dt><br>
                        <dd class="global_mail fl">新疆部分区域25元</dd></dl>
                    <!--包邮-->
                    <dl class="mail_policy clearfix" th:if="${good.isFreeDelivery == 1}">
                        <dt class="fl">包邮政策：</dt>
                        <dd class="global_mail fl">本商品单件包邮 （新疆部分区域除外）</dd></dl>
                    <!--服务政策-->
                    <dl class="mail_policy clearfix">
                        <dt class="fl">服务政策：</dt>
                        <dd class="global_mail">
                            <a style="color: #ea1d5d"></a>
                            <span class="day"></span>本商品不支持退货</dd>
                    </dl>
                    <!-- 型号 -->
                    <!--<dl class="deal_sku clearfix">-->
                        <!--<dt>-->
                            <!--<span class="r_third_spacing">型</span>号:</dt>-->
                        <!--<dt class="dt_relative">-->
                            <!--<div class="deal_sku_input">请选择型号</div>-->
                            <!--<i class="new_detail_btn"></i>-->
                            <!--<div class="warningtip">请选择型号</div>-->
                            <!--<ul class="sku_select" id="sku_select"></ul>-->
                        <!--</dt>-->
                    <!--</dl>-->
                </div>
                <div class="r_fourth">
                    <a href="javascript:;" class="detail_btn_fom btn_fom_add buy_local" id="shop_cart">
                        <span>加入购物车</span>
                        <i>
                        </i>
                    </a>
                </div>
                <input type="hidden" id="show_category" value="special">
                <input type="hidden" id="hid_hashid" value="ht20191127154627p4967028">
                <input type="hidden" id="hid_shippingsystemid" value="11000">
                <input type="hidden" id="category_id" value="107">
                <input type="hidden" id="category_v3_1" value="107">
                <input type="hidden" id="category_v3_2" value="3">
                <input type="hidden" id="category_v3_3" value="388">
                <input type="hidden" id="deal_category" value="global">
                <input type="hidden" id="sku_no" value="7011246383">
                <input type="hidden" id="stream_id" class='stream_id' search_product_id="4967028" search_category_id="228" search_brand_id="24254" search_product_type="global_deal" search_show_id="0" search_hash_id="ht20191127154627p4967028" search_sku_id="7011246383" search_spu_id="0" search_warehouse_id="11000" price="109" search_short_name="魅可MAC经典子弹头口红唇膏3g  经典热卖 多色可选" search_category_path="化妆品/彩妆/唇部/唇膏"></div>
        </div>
        <div class="deal_detail">
            <!--快速定位栏-->
            <div class="deal_tab_nav" id="anchorbar">
                <div class="inner">
                    <ul class="clearfix fl">
                        <li>
                            <a href="#spxx">商品信息</a></li>
                        <li>
                            <a href="#spxq">商品详情</a></li>
                        <li>
                            <a href="#syff">使用方法</a></li>
                        <li>
                            <a href="#spsp">商品实拍</a></li>
                        <li>
                            <a href="#yhkb">商品评价</a></li>
                        <!--<li id="yhkb_link" class="yhkb_link">-->
                            <!--<a href="#yhkb">用户口碑</a></li>-->
                        <li>
                            <a href="#cjwt">关于极速免税店</a></li>
                    </ul>
                    <div class="nav_fixed_pric fr">
                        <span class="nav_fprice">
                          <strong class="jm_price">¥??</strong>
                          <span class="nav_price">(
                            <span class="market_price">¥??</span>)</span></span>
                        <span class="btn"></span>
                    </div>
                </div>
            </div>
            <div class="content_nav_con content_book"></div>
            <div class="ptb_30">
                <!--商品信息列表-->
                <div id="spxx" class="content_nav_con  content_book">
                    <div class="detail_content guts_box"></div>
                    <div class="content_text">
                          <div class="deal_con_content">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-family:arial;">
                              <tbody>
                                <tr th:each="gdparam:${gdparams}">
                                  <td width="85" align="left">
                                    <!--<b>商品名称：</b>-->
                                    <b th:text="${gdparam.gpParamname}"></b>
                                  </td>
                                  <td width="500">
                                    <!--<span>魅可MAC经典子弹头口红唇膏3g 经典热卖 多色可选</span></td>-->
                                    <span th:text="${gdparam.gpParamvalue}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                          </div>
                    </div>
                </div>
                <div id="spxq" class="content_nav_con">
                    <div class="detail_content spxq_box"></div>
                    <!--商品详情图片-->
                    <div class="content_text" >
                        <img th:src="${cover.gcPicUrl}" alt="" style="white-space:normal;" />
                    </div>
                </div>

                <!--使用方法-->
                <div id="syff" class="content_nav_con">
                    <div class="detail_content syff_box"></div>
                    <div class="content_text">
                        <p>
                        <p>温馨提示：护肤品成分各不同，敏感肌肤请先在耳后测试后在使用哦！</p>
                        <p>
                            <img src="http://p12.jmstatic.com/global/image/202004/16/1587017688.3918.jpg" alt="" />
                            <br />
                        </p>
                    </div>
                </div>
                <!--商品实拍-->
                <div id="spsp" class="content_nav_con">
                    <div class="detail_content spsp_box"></div>
                    <div class="content_text">
                        <img th:each="detail:${details}" th:src="${detail.gdPicUrl}" alt="" style="white-space:normal;" />
                    </div>
                </div>
                <!--用户口碑-->
                <div id="yhkb" class="content_nav_con">
                    <div class="detail_content yhkb_box"></div>
                    <!--用户口碑-->
                        <div th:each="evaluate:${evaluates}">
                            <p th:text="'评论内容：'+ ${evaluate.content}"></p>
                            <p th:text="'评论时间：'+ ${#dates.format(evaluate.createTime,'yyyy-MM-dd HH:mm:ss')}"></p>
                            <p th:text="'点赞数：'+ ${evaluate.starts}"></p>
                            <br>
                    </div>
                </div>

                <!--划线价说明图片-->
                <img src="http://p0.jmstatic.com/mobile/other/other/marketprice_pc.png" class="marketprice_pc" />
                <!--划线价说明图片 end-->

                <!--关于聚美极速免税店-->
                <div id="cjwt" class="content_nav_con">
                    <div class="detail_content gyhwg_box"></div>
                    <div class="content_img">
                        <a href="http://www.jumeiglobal.com/about/?from=footer" class="static_img" style="display: block;" target="_blank">
                            <img src="http://mp5.jmstatic.com/jmhtml/pc/3_03_1.jpg" alt="gyhwg_img01"></a>
                        <img src="http://p1.global.jmstatic.com/assets/global/3_08.jpg" alt="gyhwg_img02"></div>
                </div>
                <!--联系售后服务-->
                <div id="lxjm" class="content_nav_con lxjm">
                    <div class="detail_content lxjm_box"></div>
                    <div class="content_img">
                        <img src="http://mp5.jmstatic.com/jmhtml/api/global_kefu.png" alt="lxjm_img">
                        <a class="myfaq" id="detailfaq" href="javascript:;"></a>
                        <a class="myticket" href="http://www.jumei.com/i/RMA/show" target="_blank"></a>
                    </div>
                </div>
                <!--免税店常见问题-->
                <div id="jmcjwt" class="content_nav_con jmcjwt">
                    <div class="detail_content jmcjwt_box"></div>
                    <div class="content_img">
                        <div id="jmcjwt_img" class="jmcjwt_img">
                            <!-- 常见问题 -->
                            <div class="cjwt clearfix">
                                <div class="leftcon clearfix">
                                    <div class="question">
                                        <div class="title">Q . 聚美极速免税店如何保证提供海外正品并确保低价</div>
                                        <div class="main">
                                            <div class="top"></div>
                                            <div class="content clearfix">
                                                <div class="left">A .</div>
                                                <div class="right">我们的专业招商团队只从品牌官方或具有官方授权的贸易集团批量进货，商品从海外发货后直接进入政府监管的仓库保存，取消传统层层代理，让您直接享受海外价格的正品爆款。</div></div>
                                            <div class="bottom"></div>
                                        </div>
                                    </div>
                                    <div class="question">
                                        <div class="title">Q . 什么时候发货？多久可以收到？</div>
                                        <div class="main">
                                            <div class="top"></div>
                                            <div class="content clearfix">
                                                <div class="left">A .</div>
                                                <div class="right">您的商品将在12小时内包装出库提交海关查验，通常24小时即可过关转由国内快递送货，平均3天可到达您手上
                                                    <span class="small">（偏远地区除外）</span>，您可通过订单发货状态实时监控。海外直邮商品，24小时内发货（香港节假日除外），预计7－15天到货（偏远区域除外）。</div></div>
                                            <div class="bottom"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rightcon clearfix">
                                    <div class="question">
                                        <div class="title">Q . 为什么极速免税店可以从海关保税区发货而不是海外？</div>
                                        <div class="main">
                                            <div class="top"></div>
                                            <div class="content clearfix">
                                                <div class="left">A .</div>
                                                <div class="right">传统海淘从海外发货时间长、容易丢、运费贵缺点非常多，聚美极速免税店通过与政府部门合作，商品经过政府各项查验后直接用国内物流发货，保真省钱的同时至少为您节省7-20天收货时间。</div></div>
                                            <div class="bottom"></div>
                                        </div>
                                    </div>
                                    <div class="question">
                                        <div class="title">Q . 既然是海外商品，退货会不会很麻烦？</div>
                                        <div class="main">
                                            <div class="top"></div>
                                            <div class="content clearfix">
                                                <div class="left">A .</div>
                                                <div class="right">不会！聚美极速免税店提供和聚美优品化妆品相同的7天拆封无理由退货服务；并且退货只需寄回国内仓库，聚美极速免税店为您承担最高10元邮费。特殊商品不支持退货，请您注意查看页面提示。</div></div>
                                            <div class="bottom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="btn" class="btn">点击查看 +</div></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div class="footer_container">
    <div class="footer_bottom">
        <div class="head_wrapper clearfix">
            <div class="footer_links">
                <h2>极速免税店保障</h2>
                <ul>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">海外直邮</a></li>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">无忧保障</a></li>
                    <li>
                        <a href="http://mp5.jmstatic.com/mobile/pc/Jumei_HongKong.jpg" target="_blank" rel="nofollow">营业执照</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <h2>新手帮助</h2>
                <ul>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">常见问题</a></li>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">违规争议处理</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <h2>相关条款</h2>
                <ul>
                    <li>
                        <a href="http://www.jumeiglobal.com/page/business" target="_blank" rel="nofollow">极速免税店招商</a></li>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">服务条款协议</a></li>
                    <li>
                        <a href="http://www.jumeiglobal.com/about/?from=footer" target="_blank" rel="nofollow">用户服务协议</a></li>
                </ul>
            </div>
            <div class="footer_links footer_kefu">
                <h2>客服联系方式</h2>
                <ul>
                    <li class="f16">
                        <span class="footer_icon f_phone"></span>400-123-8888</li>
                    <li>
                        <span class="footer_icon f_con"></span>
                        <a href="javascript:;" id="footer_faq" rel="nofollow">点击咨询在线客服</a></li>
                    <!--<li>客服工作时间&nbsp;7×24小时</li>--></ul>
            </div>
        </div>
        <p class="footer_copy_con">Copyright 2017, 版权所有JUMEIGLOBAL.COM 客服电话：400-123-8888</p></div>
</div>
<!-- footer end -->

<!--<script src="//a2.global.jmstatic.com/802cb9123876d5e2/lib.js" ></script>-->
<!--<script src="//a3.global.jmstatic.com/00120eedcc6d9b2d/ui.js"></script>-->
<!--<script src="//a1.global.jmstatic.com/15267947c479f1c4/app.js"></script>-->
<script src="./goods/js/lib.js"></script>
<script src="./goods/js/ui.js"></script>
<script src="./goods/js/app.js"></script>
<script>if ((JM.SERVER_TIME >= 1454774401 && JM.SERVER_TIME <= 1454806799) || (JM.SERVER_TIME >= 1454839201 && JM.SERVER_TIME <= 1454893199) || (JM.SERVER_TIME >= 1454925601 && JM.SERVER_TIME <= 1454979599) || (JM.SERVER_TIME >= 1455012001 && JM.SERVER_TIME <= 1455065999) || (JM.SERVER_TIME >= 1455098401 && JM.SERVER_TIME <= 1455152399) || (JM.SERVER_TIME >= 1455184801 && JM.SERVER_TIME <= 1455238799) || (JM.SERVER_TIME >= 1455271201 && JM.SERVER_TIME <= 1455325199)) {
    $(function() {
        $("#detailfaq").off("click");
        $("#detailfaq").on("click",
            function() {
                var tpl = '<div class="spring"><div class="spring_title"><span class="title">温馨提示</span><div class="close"></div></div>' + '<div class="spring_content"><div class="content">春节2月7日-12日，客服时间暂调整为9:00-18:00。<br/>2月13日9:00起，恢复24小时服务。祝您春节愉快！</div>' + '<div class="close">我知道了</div></div></div>';
                var bg = '<div class="spring_bg"></div>';
                if ($(".spring").length <= 0) {
                    $("body").append(tpl);
                }
                if ($(".spring_bg").length <= 0) {
                    $("body").append(bg);
                }
                $(".close").on("click",
                    function() {
                        $(".spring_bg").fadeOut(500);
                        $(".spring").fadeOut(300);
                    });
                $(".spring_bg").fadeIn(300);
                $(".spring").fadeIn(500);
            });

    });
}</script>
<!--<script src="http://a2.global.jmstatic.com/76026a0f883806bb/detail_main.js"></script>-->
<script src="./goods/js/detail_main.js"></script>
<!--<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>-->
<script type="text/javascript" src="./goods/js/ld.js" async="true"></script>
<script type="text/javascript">
(function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    // ga.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/dc.js';
    ga.src = './goods/js/jquery/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();

(function() {
    var baidu_tongji = document.createElement('script');
    baidu_tongji.type = 'text/javascript';
    baidu_tongji.src = ('https:' == document.location.protocol ? 'https://': 'http://') + 'hm.baidu.com/h.js?202f3ad244bdee87bc472ca5481a9267';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(baidu_tongji, s);
})();


if (JM.CONTROL === 'Home') {
    var _py = _py || [];
    _py.push(['a', '_d..wY1itoZJBOFwMNeSVmLboP']);
    _py.push(['domain', 'stats.ipinyou.com']);
    _py.push(['e', '']); -
        function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0];
            e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https': 'http') + '://' + (f ? 'fm.ipinyou.com': 'fm.p0y.cn') + '/j/adv.js';
        } (document);

    // 晶赞
    var __zp_tag_params = {
        chanelName: "极速免税店"
    }; (function(param) {
        var c = {
            query: [],
            args: param || {}
        };
        c.query.push(["_setAccount", "428"]);
        c.query.push(["_setSiteID", "1"]); (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
        var zp = document.createElement("script");
        zp.type = "text/javascript";
        zp.async = true;
        zp.src = ("https:" == document.location.protocol ? "https:": "http:") + "//cdn.zampda.net/s.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(zp, s);
    })(__zp_tag_params);
}
if (JM.ACTION === 'Combination') {
    // 普通组合购和新版组合购
    var Cookie = {
        //读取cookies
        get: function(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg)) return unescape(arr[2]);
            else return '';
        }
    }

    var $stream_id = $('#stream_id');
    var img_url = $('#deal_img').prop('src');
    var nickname = Cookie.get('nickname');
    var cookie_uid = Cookie.get('cookie_uid');
    var category_id = $('#category_id').val() || '';
    var hash_id = $('#hid_hashid').val() || '';
    var product_id = $stream_id.attr('search_product_id');
    var short_name = $stream_id.attr('search_short_name');
    var brand_id = $stream_id.attr('search_brand_id');
    var category_path = $stream_id.attr('search_category_path') || '';
    var search_category_id = $stream_id.attr('search_category_id');
    var jumei_price = $stream_id.attr('price');
    var market_price = $stream_id.attr('market_price');
    var status = $('#button_type').length ? $('#button_type').val() : '0';
    var end_time = $stream_id.attr('search_end_time');
    var buyer_number = $stream_id.attr('search_buyer_number');
    var product_url = window.location.href;


    // 晶赞
    window.__zp_tag_params = {
        pagetype: 'detail',
        productId: hash_id,
        stock: status,
        p_zp_prodstype: '53e29afa958a394f21589229dc6613ed',
        p_zp_prods: {
            "outerid": hash_id,
            //商品id
            "name": short_name,
            "brand": brand_id,
            "category": category_id,
            "subCategory": "",
            "thirdCategory": search_category_id,
            "price": jumei_price,
            "value": market_price,
            "image": img_url,
            "loc": product_url,
            "stock": '' + status
        }
    }; (function(param) {
        var c = {
            query: [],
            args: param || {}
        };
        c.query.push(["_setAccount", "428"]);
        c.query.push(["_setSiteID", "1"]); (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
        var zp = document.createElement("script");
        zp.type = "text/javascript";
        zp.async = true;
        zp.src = ("https:" == document.location.protocol ? "https:": "http:") + "//cdn.zampda.net/s.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(zp, s);
    })(window.__zp_tag_params);

    // 品友
    var _goodsData = {
        id: product_id,
        soldOut: status,
        category: category_path,
        categoryId: category_id,
        name: short_name,
        price: jumei_price,
        imgUrl: img_url,
        productUrl: product_url,
        domain: 'www',
        brand: '',
        promotion: '热卖',
        origPrice: market_price
    };
    window._py = window._py || [];
    _py.push(['a', '_d..wY1itoZJBOFwMNeSVmLboP']);
    _py.push(['domain', 'stats.ipinyou.com']);
    _py.push(['pi', _goodsData]);
    _py.push(['e', '']); -
        function(d) {
            var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0],
                f;
            e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
            s.src = (f ? 'https': 'http') + '://' + (f ? 'fm.ipinyou.com': 'fm.p0y.cn') + '/j/adv.js';
        } (document);
}

if (JM.CONTROL === 'Special') {
    // 晶赞
    var __zp_tag_params = {
        pagetype: "actPage"
    }; (function(param) {
        var c = {
            query: [],
            args: param || {}
        };
        c.query.push(["_setAccount", "428"]);
        c.query.push(["_setSiteID", "1"]); (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
        var zp = document.createElement("script");
        zp.type = "text/javascript";
        zp.async = true;
        zp.src = ("https:" == document.location.protocol ? "https:": "http:") + "//cdn.zampda.net/s.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(zp, s);
    })(__zp_tag_params);
}</script>
</body>

</html>